/************ Footer Css ************/
.footer {
  min-width: 320px;
  min-height: 200px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0px 500px;
}

.social_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  min-width: 320px;
  min-height: 200px;
}

@media (max-width: 700px) {
  .box {
    display: flex;
    flex-direction: column;
  }
}
