/************ Projects Css ************/
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.portfolio_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.nav_pills {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #151515;
  overflow: hidden;
}
.nav_link {
  position: relative;
  width: 100%;
  padding: 17px 0;
  color: #b8b8b8;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  text-align: center;
  z-index: 0;
  border: 1px solid #151515;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.nav_pills a {
  width: 100%;
  background: transparent;
  display: inline-flex;
  border-radius: 10px;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #444;
}
.nav_pills a::before {
  content: '';
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.nav_pills a:hover::before {
  transform: scale(1);
}
.nav_pills a {
  width: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.nav_link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #00fffd -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.nav_link:hover {
  color: #fff;
}

.proj_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.proj_imgbx {
  position: relative;
  max-width: 380px;
  border-radius: 30px;
  overflow: hidden;
}
.proj_imgbx::before {
  content: '';
  background: linear-gradient(90.21deg, #00fffd -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj_imgbx:hover::before {
  height: 100%;
}
.proj_txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj_imgbx:hover .proj_txtx {
  top: 50%;
  opacity: 1;
}
.proj_txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj_txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

@media (max-width: 700px) {
  .proj_wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .nav_pills {
    padding: 10px;
  }
}
